body {
  color: red;
  width: 70%;
  height: 100%;
  margin: auto;
  text-align: center;
  overflow-y: visible;
}

a {
  color: white;
}

a:hover {
  color: red;
}

.hide {
  display: none;
}

iframe {
  margin-top: 30%;
  margin-bottom: 30%;

  mix-blend-mode: screen;

}

.chinese {
  background-image: url("img/chinese.jpg");
  background-size: 15%;
}

.asian {
  background-image: url("img/dumpling.jpg");
  background-size: 20%;
}