body {
  color: red;
  width: 70%;
  height: 100%;
  margin: auto;
  text-align: center;
  overflow-y: visible;
}

a {
  color: white;
  display: block;
}

a:hover {
  color: red;
}

.hide {
  display: none;
}

iframe {
  margin-top: 30%;
  margin-bottom: 30%;

  mix-blend-mode: screen;

}

.chinese {
  background-image: url("img/chinese.jpg");
  background-size: 15%;
}

.asian {
  background-image: url("img/dumpling.jpg");
  background-size: 20%;
}

.charli {
  background: url("img/charli.png") ,rgb(53, 9, 47);
  background-size: 20%;
}

.charli iframe {
  mix-blend-mode: normal;
}

.cite {
  font-size: 1.5em;
}